{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-6 col-md-offset-3">
            <div class="panel-body">
                <h4>Add product</h4>
                {% if flash.errors %}
                    {% for error in flash.errors %}
                        <div class="alert alert-danger">{{error|last|join}}</div>
                    {% endfor %}
                {% endif %}
                <form action="{{servlet-context}}/product/add" method="post" enctype="multipart/form-data" class="aa-login-form">
                    {% csrf-field %}
                    {% include "product/form.html" %}
                    <button type="submit" class="aa-browse-btn">Add</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}