<li>
    <figure>
        <a class="aa-product-img" href="{{servlet-context}}/product/{{product.id}}"><img src="{{servlet-context}}/{{product.photo}}"></a>


        <form action="{{servlet-context}}/cart/add" method="post">
            {% csrf-field %}
            <input type="hidden" name="product_id" value="{{product.id}}" />
            <button type="submit" class="aa-add-card-btn my-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</button>
        </form>


        <figcaption>
            <h4 class="aa-product-title"><a href="#">{{product.title}}</a></h4>
            <span class="aa-product-price">${{product.price}}</span>
        </figcaption>
    </figure>
</li>